body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.im {
  height: 60px;
  width: 60px;
}

h1 {
  font-size: 20px;
  text-align: center;
  flex: 1 0 100%;
  margin: 10px 0;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

form input[type="text"],
form input[type="date"],
form input[type="file"],
form input[type="submit"],
form select {
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
}

form label {
  color: #003366;
  text-align: center;
  margin-bottom: 10px;
  display: block;
}

form input[type="submit"] {
  background-color: #004080;
  color: white;
  border: none;
  cursor: pointer;
  width: 150px;
}

form input[type="submit"]:hover {
  background-color: #003366;
}

.address {
  background-color: #E5FFFE;
  border: 1px solid gray;
  width: 90%;
  padding: 20px;
  margin: 30px auto;
  border-radius: 10px;
}

.file-preview {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-group {
  text-align: center;
  margin: 30px auto;
}

.btn-group button {
  height: 50px;
  width: 150px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 20px;
  background-color: #004080;
  color: white;
  margin: 10px;
  cursor: pointer;
}

.btn-group button:hover {
  background-color: #003366;
}

#jj {
  width: 150px;
  border: none;
}

.printer {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  form {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 16px;
  }

  form {
    grid-template-columns: 1fr;
  }

  table {
    font-size: 12px;
    overflow-x: auto;
    display: block;
  }

  .address,
  .member-data,
  form {
    width: 95% !important;
    margin: 10px auto !important;
  }
}
